html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}
.content.bottom {
  padding: 0 25px 15px;
}
.hero.is-fullheight {
  background: #ededed url(../images/logo_marianne.png) no-repeat right 5% bottom fixed;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 2rem;
}
.button {
  background-color: #0354aa;
  color: #ffffff;
}
.button:hover,
.button:active {
  background-color: #034EA2;
  color: #ffffff;
}
input {
  font-weight: 300;
}