html {
    color: black;
    height: 100%;
}

body {
    font-family: Arial, Verdana, Helvetica;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 445px;
}

#banniereSmart {
    height: 80px;
    background: #E1EBEF;
    font-size: 0;
}

#banniereSmartContenu {
    min-width: 420px;
    margin: 0 auto;
    display: block;
    /* float:left; */
    font-size: 0;
}

#banniereSmartFermer {
    float: left;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 28px;
}

#banniereSmartLogo {
    float: left;
    display: inline-block;
    margin-top: 20px;
    margin-left: 0px;
    padding: 0 0 0 0;
    width: 47px;
}

#banniereSmartTexte {
    margin-right: 68px;
    */ margin-top: 10px;
    margin-left: 80px;
    margin-right: 60px;
    text-align: center;
    font-size: 9pt;
    color: #444;
    font-weight: normal;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
}

#banniereSmartDownload {
    margin-top: 15px;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 0px;
    width: 55px;
    float: right;
}

p {
    margin-top: 0px;
}

a, a:hover {
    color: #00426F;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.lien2 {
    text-decoration: underline;
}

input,
a:visited,
a:active,
a:focus {
    outline: none;
}

a img {
    border: 0px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

h2 {
    color: #666666;
}

h2 span {
    color: black;
}

.popup h3 {
    margin-bottom: 14px;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.hautPage {
    text-align: right;
    font-style: italic;
}

.hautPage a {
    color: black;
}

.decal ul li {
    margin-left: 15px;
    list-style-type: disc;
}

.conf {
    margin-left: auto;
    margin-right: auto;
}

.faq li {
    font-weight: bold;
    list-style-image: url(/templates/img/IR2014/puce_h3.gif);
    /*list-style-type: circle;*/
    font-size: 1.2em;
    padding: 10px 0;
}

.faqSom li {
    list-style-image: url(/templates/img/IR2014/puce_h3.gif);
}

.faqSom {
    padding-left: 20px;
}

.faqSom a {
    color: black;
}

table {
    border-collapse: collapse;
    width: 95%

}

th, td {
    width: 50%;
    border: 1px solid black;
}

.sys {
    background-color: teal;
    color: white;
}

.nav {
    background-color: blue;
    color: white;
}

.separateur {
    clear: both;
    margin-bottom: 14px;
}

#page {
    background: white;
    margin: 0px auto;
    width: 972px;
    overflow: hidden;
    min-height: 100%;
}

#header {
    background: #E1EBEF url(/templates/img/IR2014/bg_header.jpg) repeat-x top left;
    width: 972px;
    min-height: 60px;
}

.impogouv {
    display: block;
    width: 208px;
    height: 32px;
    background: url(/templates/img/IR2014/logo.gif) no-repeat top left;
    text-align: right;
    color: #666;
    font-weight: bold;
    margin-left: 22px;
    margin-top: 6px;
}

.impogouv span {
    display: block;
    padding-top: 26px;
}

.monEsp h1 span {
    font-size: 0.625em;
    color: #666;
    font-weight: bold;
}

.monEsp h1 {
    float: left;
    height: 47px;
    font-weight: normal;
    font-size: 2.667em;
    line-height: 0.625em;
    padding: 14px 0px 0px 75px;
}

.NomId {
    width: 300px;
    display: block;
    float: right;
    margin-top: -32px;
    padding-bottom: 6px;
}

.Nom {
    font-weight: bold;
}

.NomId a {
    margin-top: 4px;
    font-weight: bold;
    padding-left: 12px;
    background: url(/templates/img/IR2014/puce_lien_header.png) no-repeat left 0.25em;
    display: block;
}

.menuAide {
    display: block;
    background: transparent url(/templates/img/IR2014/aide.gif) no-repeat top left;
    width: 34px;
    color: #666;
    font-size: 1.167em;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 4px 4px 5px 28px;
    float: right;
    /* border : 1px solid black; */
}

.menuAide:hover {
    background-image: url(/templates/img/IR2014/aide_hover.gif);
}

#conteneur {
    padding: 42px 93px;
}

.intro {
    padding: 8px 14px;
    border: 3px solid #ccc;
    background: #F2F7F9;
    color: #00426F;
    font-size: 1.167em;
    /*margin-bottom:20px;*/
}

.rounded {
    padding: 8px 24px 24px 24px;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
    position: relative;
}

.rounded h2 {
    font-size: 1.5em;
    border-bottom: 5px solid #EBEBEB;
    padding-bottom: 2px;
    margin-bottom: 12px;
}

.rounded h2.inner {
    border: 0px;
    color: #00426F;
    margin-bottom: 4px;
}

.listeA li {
    margin-top: 4px;
    background: url(/templates/img/IR2014/puce_grise.gif) no-repeat left 0.25em;
    padding-left: 12px;
}

.retour {
    margin-bottom: 6px;
}

.retour .prev {
    float: none;
}

.txt {
    padding-bottom: 12px;
}

.listeA.big {
    font-size: 1.167em;
}

.signature {
    color: #555555;
    font-style: italic;
    font-size: 0.917em;
    text-align: right;
    padding-right: 3%;
}

input.bouton {
    font-size: 1.2em;
    color: #00426F;
    font-weight: bold;
    border: 2px solid #D0D0D0;
    border-color: #D0D0D0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 4px 6px;
    background: url(/templates/img/IR2014/bg_input_button.gif) repeat-x top left;
}

input.bouton:hover {
    cursor: pointer;
    background: url(/templates/img/IR2014/bg_input_button_hover.gif) repeat-x top left;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
}

.attention {
    display: block;
    background: url(/templates/img/IR2014/attention.gif) no-repeat top left;
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.attentionTxt {
    color: black;
    margin-bottom: 15px;

}

.attentionTxtRouge {
    padding-left: 50px;
    color: red;
    margin-top: 20px;

}

.border_error {
    border: 2px solid #f00;
}

#connexion_en_cours {
    vertical-align: middle;
    height: 170px;
    width: 100%;
}

.connexion {
    background: url(/templates/img/IR2014/rouages.gif) no-repeat top left;
    float: left;
    width: 150px;
    height: 121px;
    margin-left: 50px;
}

.connexionTxt {
    padding-top: 60px;
}

.fermer {
    font-size: 1.167em;
    font-weight: bold;
    border-bottom: 3px solid #ccc;
    float: left;
    padding-left: 12px;
    background: url(/templates/img/IR2014/close.gif) no-repeat left 0.25em;
    margin-top: 4px;
    margin-bottom: 10px;
}

.fermer:hover {
    text-decoration: none;
    color: black;
    border-color: #aaa;
}

.next {
    font-size: 1.167em;
    font-weight: bold;
    border-bottom: 3px solid #ccc;
}

.next:hover {
    text-decoration: none;
    color: black;
    border-color: #aaa;
}

.next {
    float: right;
    padding-right: 12px;
    background: url(/templates/img/IR2014/puce_grise.gif) no-repeat right 0.25em;
}

.next.left {
    float: left;
}

.invisible {
    display: none;
    margin: 0;
}

.intro {
    display: none;
}

h4 {
    font-size: 1.5em;
    padding: 0px;
    margin-bottom: 14px;
    background: url('/portal/ressources/fr/images/portail/new/puce_h3.gif') no-repeat scroll left 0.25em transparent;
    padding-left: 14px;
    color: #666;
    margin: 14px 0px;
}

#centrer {
    text-align: center;
}

.color_error A:visited {
    color: blue;
    text-decoration: underline;
}

.color_error A:link {
    color: blue;
    text-decoration: underline;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#creationMSP {

    background: #EBEBEB;
}

#creationMSPintro {
    font-size: 1.05em;
    /* font-weight: bold; */
    text-decoration: underline;
}

#creationMSPtexte {
    margin-top: 1%;
    margin-bottom: 4%;

}

#logoMSP {
    border: 2px solid #D0D0D0;
    border-color: #D0D0D0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 4px 6px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 5px;
    background: #E1EBEF url(/templates/img/IR2014/bg_header.jpg) repeat-x top left;
    width: 80%;
}

.oubli {
    font-style: normal;
    font-size: 0.86em;
    font-weight: bold;
    color: #00426F;
}

.oubli:hover, .oubli:visited, .oubli:link {
    color: #00426F;
    text-decoration: none;
}

#noPass {
    margin-top: 35px;
}

.impogouv a span {
    display: block;
    color: #666;
    padding-top: 0;
    margin-top: -10px;
}

/* .cerfa1 {
position:relative;
background-size: 365px  auto;
max-width:365px;
height: 365px;
}
*/
.cerfa1 {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cerfa2 {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cerfa4 {
    background-size: 90% auto;
}

#RfrAvis {
    background-image: url(/templates/img/IR2014/rfr.gif);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: contain;
}

#numFiscCerfa {
    background: url(/templates/img/IR2014/numfiscal.gif) no-repeat bottom left;
}

#numTdecCerfa {
    background: url(/templates/img/IR2014/numteledec.gif) no-repeat bottom left;
}

#RfrTh {
    background: url(/templates/img/IR2014/rfr2.gif) no-repeat bottom left;
}

#RfrTh2 {
    background: url(/templates/img/rfr_th.gif) no-repeat bottom left;
}

.copieEcran {
    position: relative;
    background-size: 620px auto;
    max-width: 620px;
    height: 308px
}

#copie_LMDP_erreur_saisie {
    background: url(/templates/img/IR2014/LMDP_erreur_saisie.gif) no-repeat bottom left;
}

#copie_3S_erreur_saisie {
    background: url(/templates/img/IR2014/3S_erreur_saisie.gif) no-repeat bottom left;
}

#copie_LMDP_contactFP {
    background: url(/templates/img/IR2014/LMDP_contactcFP.gif) no-repeat bottom left;
}

#copie_3S_contactFP {
    background: url(/templates/img/IR2014/3S_contactcFP.gif) no-repeat bottom left;
}

/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/

@media only all and (min-width: 1000px) {

    #conteneur {
        padding: 42px 93px;
    }

    html {
        background: #E1EBEF url(/templates/img/IR2014/bg_body.jpg) repeat-y top center;

    }

    #page {
        width: 972px;
    }

    #header {
        width: 100%;
        height: 60px;
    }

    .menuAide {
        display: block;
        padding: 4px 4px 6px 28px;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }

    .impogouv {
        display: block;
        width: 208px;
        height: 32px;
        background: url(/templates/img/IR2014/logo.gif) no-repeat top left;
        text-align: right;
        color: #666;
        font-weight: bold;
        margin-left: 22px;
        margin-top: 6px;
    }

    .impogouv span {
        display: block;
        padding-top: 26px;
    }

    .monEsp {
        margin-left: 325px;
        margin-top: -38px;

    }

    .monEsp h1 {
        margin-top: 10px;
        margin-left: 20px;
    }

    .NomId {
        width: 300px;
        display: block;
        float: right;
        margin-top: -32px;
        padding-bottom: 6px;
    }

    .signature {
        color: rgb(0, 66, 111);
        font-style: italic;
        font-size: 0.917em;
        text-align: right;
        padding-right: 3%;
    }

    .formulaire {
        width: 100%;
    }

    .champs {
        text-align: right;
        /* display:block; */
        vertical-align: middle;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .champs img {
        vertical-align: middle;
        max-height: 25px;
        margin-left: 2px;
    }

    .gauche {
        text-align: right;
        margin-top: 15px;
        display: block;
        float: left;
        width: 400px;
    }

    .droite {
        width: 300px;
        font-style: italic;
        margin-top: 15px;
        margin-left: 15px;
        padding-right: 20px;
        float: right;
    }

    .justeOubli {
        margin-top: 25px;
    }

    #footer {
        width: 100%;
        padding: 10px 0px 20px 0px;
    }

    .bouton {
        width: 186px;
        margin-left: 240px;
        margin-top: 20px;
    }

}